@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 4.375em;
  width: 60%;
  background: #c99044;
  border-radius: 6.25em 6.25em 1.25em 1.25em;
  border-bottom: solid .625em rgba(0,0,0,.1);
}

.cheese {
  height: .938em;
  width: 62%;
  border-radius: .625em .625em 0 0;
  background: #f0b642;
  border-bottom: solid .313em rgba(0,0,0,.1);
}

.tomato {
  height: 2.313em;
  width: 50%;
  background-color: #c93716;
  border-bottom: solid .313em rgba(0,0,0,.1);
}

.meatball {
  height: 2.5em;
  width: 3.75em;
  background: #742f0c;
  border-radius: 1.875em;
  display: inline-block;
  vertical-align: top;
  border-bottom: solid .625em rgba(0,0,0,.1);
}

.patty {
  height: 3.313em;
  width: 55%;
  background: #7e400d;
  border-radius: 1.313em;
  border-bottom: solid .313em rgba(0,0,0,.1);
}

.pickle {
  height: 1.875em;
  width: 50%;
  background: #0c691d;
  border-radius: 1.25em 1.25em 6.25em 6.25em;
  border-bottom: solid .625em rgba(0,0,0,.1);
}

.onion {
  width: 40%;
  background-color: #a304d3;
  border-top: dotted 1.313em rgba(255,255,255,.15);
}

.bun-bottom {
  height: 3.313em;
  width: 60%;
  background: #c99044;
  border-radius: 1.25em 1.25em 2.5em 2.5em;
  border-top: solid .5em rgba(0,0,0,.1);
}

.plate {
  height: 2.313em;
  width: 80%;
  background: #dbdbdb;
  border-radius: 1.25em 1.25em 12.5em 12.5em;
  border-bottom: solid .5em rgba(0,0,0,.1);
}
